<template>
  <section class="section">
    <div class="container">
      <GuideInfo :guide="guide" />
    </div>
  </section>
  <section class="section">
    <div class="container">
      <ChartDisplay :series="series" />
    </div>
  </section>
</template>

<script>
import { mapGetters } from 'vuex';

import ChartDisplay from '@/components/ChartDisplay.vue';
import GuideInfo from '@/components/GuideInfo.vue';

export default {
  name: 'ChartView',
  components: {
    ChartDisplay,
    GuideInfo,
  },
  props: {
    uuid: {
      type: String,
      required: true,
    },
  },
  computed: {
    ...mapGetters(['getGuide', 'getSeries']),
    guide() {
      return this.getGuide(this.uuid);
    },
    series() {
      return this.getSeries(this.uuid);
    },
  },
};
</script>
