<template>
  <section class="section">
    <div
      v-if="!guides || guides.length === 0"
      class="container"
    >
      <PageMessage
        :text="noDataError"
      />
    </div>
    <div
      v-else
      class="container"
    >
      <div
        v-for="(guide, idx) of guides"
        :key="guide.uuid"
        class="columns"
      >
        <div class="column">
          <hr v-if="idx !== 0" />
          <GuideInfo :guide="guide" />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapGetters } from 'vuex';

import conf from '@/conf';
import GuideInfo from '@/components/GuideInfo.vue';
import PageMessage from '@/components/PageMessage.vue';

export default {
  name: 'HomeView',
  components: {
    GuideInfo,
    PageMessage,
  },
  data: () => ({
    noDataError: conf.error.noData,
  }),
  computed: {
    ...mapGetters(['allGuides']),
    guides() {
      return this.allGuides;
    },
  },
};
</script>
