<template>
  <section class="section">
    <div class="container">
      <PageMessage :text="notFoundError" />
    </div>
  </section>
</template>

<script>
import conf from '@/conf';
import PageMessage from '@/components/PageMessage.vue';

export default {
  name: 'NotFoundView',
  components: {
    PageMessage,
  },
  data: () => ({
    notFoundError: conf.error.notFound,
  }),
};
</script>
