<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>Network</title>
</head>
<body>
<noscript>
  <strong>Never mind, I hate JavaScript too...</strong>
</noscript>
<div id="app"></div>
</body>
</html>
