<template>
  <section class="hero is-small is-info">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          <router-link
            :to="{ name: 'home' }"
            class="title"
          >
            {{ mainTitle }}
          </router-link>
        </h1>
      </div>
    </div>
  </section>
  <section
    v-if="connectionError"
    class="section"
  >
    <div class="container">
      <div class="content">
        <div class="columns">
          <div class="column is-10 is-offset-1">
            <div class="notification">
              <button
                v-if="errorDetails"
                @click.prevent="errorDetails = false"
                @keyup.prevent="errorDetails = false"
                type="button"
                class="delete"
              />
              <div
                @click.prevent="errorDetails = true"
                @keyup.prevent="errorDetails = true"
                class="content"
              >
                {{ connectionError }}
              </div>
              <pre
                v-if="errorDetails && connectionError.response"
              >{{ connectionError.response }}</pre>
              <pre
                v-if="errorDetails"
              >{{ connectionError.toJSON() }}</pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <router-view v-if="available" />
  <section
    v-else-if="!connectionError"
    class="section"
  >
    <div class="container">
      <PageProgress />
    </div>
  </section>
</template>

<script>
import { mapGetters } from 'vuex';

import conf from '@/conf';
import PageProgress from '@/components/PageProgress.vue';

export default {
  name: 'App',
  components: {
    PageProgress,
  },
  data: () => ({
    errorDetails: false,
    mainTitle: conf.main.title,
  }),
  computed: {
    ...mapGetters(['available', 'connectionError']),
  },
};
</script>

<style lang="sass">
@import "bulma/sass/utilities/initial-variables"
$code: $grey-darker

@import "bulma"
a
  text-decoration: none
</style>
