<template>
  <div>
    <ApexChart type="area" :options="options" :series="series" />
  </div>
</template>

<script>
import Vue3Apexcharts from 'vue3-apexcharts';
import conf from '@/conf';

export default {
  name: 'ChartDisplay',
  components: {
    ApexChart: Vue3Apexcharts,
  },
  props: {
    series: {
      type: Array,
      default: () => [],
    },
  },
  data: () => ({
    options: {
      chart: {
        animations: {
          easing: 'easeout',
          animateGradually: {
            enabled: false,
          },
        },
        fontFamily: conf.chart.fontFamily,
        id: 'leases',
        toolbar: {
          tools: {
            download: false,
            selection: false,
          },
          autoSelected: 'zoom',
        },
        zoom: {
          enabled: true,
          type: 'x',
          autoScaleYaxis: false,
        },
      },
      dataLabels: {
        enabled: false,
      },
      legend: {
        position: 'top',
        horizontalAlign: 'left',
      },
      noData: {
        text: conf.error.noData,
      },
      stroke: {
        curve: 'smooth',
      },
      theme: {
        monochrome: {
          enabled: true,
          color: conf.chart.color,
          shadeTo: 'light',
          shadeIntensity: 0.85,
        },
      },
      tooltip: {
        shared: false,
        x: {
          format: conf.chart.dtFormat,
        },
      },
      xaxis: {
        labels: {
          rotate: 45,
          rotateAlways: false,
          datetimeFormatter: {
            year: conf.chart.dtFormat,
            month: conf.chart.dtFormat,
            day: conf.chart.dtFormat,
            hour: conf.chart.dtFormat,
          },
        },
        tooltip: {
          enabled: false,
        },
        type: 'datetime',
      },
      yaxis: {
        min: 0,
      },
    },
  }),
};
</script>
