<template>
  <PageMessage
    v-if="!guide.uuid"
    :text="noDataError"
  />
  <div
    v-else
    class="columns is-vcentered"
  >
    <div class="column has-text-left has-text-centered-mobile">
      <h2 class="title">
        <router-link
          :to="toChart"
          class="title"
        >
          {{ guide.title }}
        </router-link>
      </h2>
      <h3
        v-if="guide.description"
        class="subtitle"
      >
        <router-link
          :to="toChart"
          class="subtitle"
        >
          {{ guide.description }}
        </router-link>
      </h3>
    </div>
    <div class="column has-text-right has-text-centered-mobile">
      <router-link :to="toChart">
        <code>{{ guide.mask }}</code>
      </router-link>
    </div>
  </div>
</template>

<script>
import conf from '@/conf';
import PageMessage from '@/components/PageMessage.vue';

export default {
  name: 'GuideInfo',
  components: {
    PageMessage,
  },
  props: {
    guide: {
      type: Object,
      default: () => ({}),
    },
    linked: {
      type: Boolean,
      default: () => true,
    },
  },
  data: () => ({
    noDataError: conf.error.noData,
  }),
  computed: {
    toChart() { return { name: 'chart', params: { uuid: this.guide.uuid } }; },
  },
};
</script>
