<template>
  <div class="columns">
    <div class="column is-10 is-offset-1">
      <div class="content">
        <progress class="progress is-large is-info" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PageProgress',
};
</script>
