<template>
  <div class="columns">
    <div class="column is-10 is-offset-1">
      <article class="message is-info">
        <div class="message-body">
          {{ text }}
        </div>
      </article>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PageMessage',
  props: {
    text: {
      type: String,
      required: true,
    },
  },
};
</script>
